.popup {
  width: 300px;
  padding: 20px;

  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;

  position: absolute;
  left: 20px;
  bottom: -100px;
}
.popup img {
  width: 30px;
  object-fit: contain;
  height: auto;
  margin-right: 20px;
  filter: invert(100%);
}
.popup-container {
}
.popup-title {
  color: rgb(255, 255, 255);
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 1.1em;
}
.popup-message {
  color: white;
  font-size: 1em;
}
@keyframes popup {
  0% {
    bottom: -100px;
  }
  10% {
    bottom: 20px;
  }
  90% {
    bottom: 20px;
  }
  100% {
    bottom: -100px;
  }
}
