body {
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  overflow: hidden;
}
.score {
  font-size: 1.5em;
}
.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;

  margin-bottom: 10px;
}
.tip-button,
.restart-button {
  border: none;
  padding: 5px 20px;
  font-size: 1.1em;
  border-radius: 5px;
  background-color: rgb(238, 238, 238);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  transition: background-color 100ms ease-in-out;
  cursor: pointer;
}
.tip-button:hover,
.restart-button:hover {
  background-color: rgb(218, 218, 218);
}
.restart-button {
  width: 30px;
  height: 30px;
  padding: 10px;
}
.restart-button img {
  width: 100%;
  height: 100%;

  object-fit: contain;
}
.spelbord {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.spelbord-blocks {
  width: 400px;
  height: 400px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.spelbord-block {
  margin: 2px;
  cursor: pointer;
  transition: transform 100ms ease-in-out;
}

.spelbord-block:hover {
  transform: scale(1.07);
}

.endscreen {
  width: 100vw;
  height: 100vh;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.endscreen-backdrop {
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;

  background-color: rgba(0, 0, 0, 0.8);
}
.endscreen-title {
  font-size: 2.5em;
  font-weight: 500;
  color: white;
  z-index: 11;
  position: relative;
}
.endscreen-description,
.endscreen-highscore,
.endscreen-highscore-message {
  font-size: 1.2em;
  color: rgb(219, 219, 219);
  z-index: 11;
  position: relative;
}

.endscreen-highscore {
  font-size: 1.3em;
  color: gray;
}
.endscreen-highscore-message {
  color: rgb(0, 255, 21);
  font-size: 1.5em;

  margin-top: 40px;
}

.leaderboard {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.1);
  left: 30px;
  top: 30px;
  min-width: 220px;
  height: auto;
  padding: 10px;
}
.leaderboard-player {
  display: grid;
  grid-template-columns: auto 100px 35px;

  background-color: rgba(0, 0, 0, 0.05);
  padding: 7px;
}
.leaderboard-player + div {
  margin-top: 10px;
}
.leaderboard-player h2:nth-child(2),
p {
  justify-self: flex-end;
  text-align: right;
}
.leaderboard-player-name {
  font-weight: bold;

  text-decoration: underline;
}
.leaderboard-player-score {
  font-weight: bold;
}
.leaderboard-login {
  width: 100%;
  height: auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.leaderboard-login input[type="text"] {
  box-sizing: border-box;

  width: 75%;
  padding: 5px 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: none;
}
.leaderboard-login input[type="button"] {
  box-sizing: border-box;
  background-color: rgb(66, 66, 129);

  width: 20%;
  color: white;
  padding: 5px 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: none;
  transition: background-color 100ms ease-in-out;
}
.leaderboard-login input[type="button"]:hover {
  background-color: rgb(47, 47, 94);
  cursor: pointer;
}
.leaderboard-playerlist {
  padding: 0 10px;
  max-height: 485px;
  overflow-y: auto;
}
.leaderboard-label {
  margin-bottom: 10px;
}
.clock {
  font-size: 3em;
  position: absolute;
  top: 30px;
}
